@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* background สีขาว */
  --foreground: #171717; /* ตัวอักษรสีดำ */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.form-control {
  @apply border border-gray-300 p-2 rounded bg-white text-gray-800;
}

.btn {
  @apply bg-indigo-600 text-white p-2 rounded-full hover:bg-indigo-700 transition-colors;
}

.sidebar {
  @apply bg-white text-gray-800 shadow-sm min-h-screen w-64;
}

.sidebar-item {
  @apply flex items-center p-2 text-gray-800 rounded hover:bg-gray-200 hover:text-gray-800;
}

.sidebar-nav {
  @apply p-4 bg-white border-t border-gray-300 min-h-screen;
}

.sidebar-nav ul {
  @apply space-y-2;
}

.sidebar-header {
  @apply flex items-center justify-center p-4 bg-indigo-600 text-white ml-4 mr-4 rounded-2xl mb-4;
}

.card {
  @apply bg-white p-8 rounded-2xl shadow-md h-full;
}

.card input {
  @apply w-full mt-2;
}

.card h1 {
  @apply text-2xl font-bold text-gray-800 mb-5;
}

.card-body {
  @apply text-gray-800;
}

.btn-primary {
  @apply bg-indigo-500 text-white px-4 py-2 rounded-full mt-5 hover:bg-indigo-600;
}

.table {
  @apply w-full mt-3;
}

.table th {
  @apply text-left p-4 bg-gray-100 text-gray-800;
}

.table th:first-child {
  @apply rounded-tl-2xl;
}

.table th:last-child {
  @apply rounded-tr-2xl;
}

.table tbody td {
  @apply p-4 bg-white text-gray-800 border-b border-gray-200;
}

.table tbody tr:last-child td:first-child {
  @apply rounded-bl-2xl;
}

.table tbody tr:last-child td:last-child {
  @apply rounded-br-2xl;
}

.table tbody tr:last-child td {
  @apply border-b-0;
}

.btn-edit {
  @apply bg-gray-200 text-blue-500 px-4 py-2 rounded-none mr-1;
}

.btn-delete {
  @apply bg-gray-200 text-red-500 px-4 py-2 rounded-none;
}